/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232f3e;
    padding: 0px 0px;
    color: white;
    height: 100px;
}

.logo img {
    max-width: 200px; /* Taille du logo */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107; /* Changement de couleur au survol */
}

.svg{
    width: 200px;
height: 100px;

}


.my-button {
    background-color: chocolate; /* Couleur de fond */
    border: none; /* Supprime le bord */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Supprime le soulignement */
    display: inline-block; /* Permet d'utiliser padding et width/height */
    font-size: 16px; /* Taille du texte */
    margin: 4px 2px; /* Marge extérieure */
    cursor: pointer; /* Curseur de la souris */
    border-radius: 8px; /* Bord arrondi */
    transition: background-color 0.3s ease; /* Transition au survol */
}

.my-button:hover {
    background-color: #45a049; /* Changement de couleur au survol */
}




.image-container {
    width: 300px; /* Largeur de votre image */
    height: 200px; /* Hauteur de votre image */
}

.image-container img {
    width: 100%; /* Pour que l'image remplisse le conteneur */
    height: 100%; /* Pour que l'image remplisse le conteneur */
    object-fit: cover; /* Ajuste la taille de l'image pour remplir le conteneur */
}



    .small-text {
        font-size: 7px;
    }


    